.blogPost__text {
    text-align: left;
    line-height: 2.3ch !important;
}

.blogPost__socialInfo {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.783) !important;
}

.blogPost__dot {
    height: 5px !important;
    width: 5px !important;
}